.page-main
	container()
	
	&__rectangle
		clearfix()
		background url('../assets/img/general/rectangle-content-shadow.png') no-repeat center, 
			#f8f5f2 url('../assets/img/general/pattern-white.jpg')
		color #000
		padding 50px 80px
		margin-bottom 35px