ul.pluses
	li.pluses__item
		span.pluses__name Быстро
		p.pluses__text МЫ&nbsp;ДЕЛАЕМ СВОЮ РАБОТУ БЫСТРО! ДВА ЧАСА ПРОЛЕТЯТ НЕЗАМЕТНО И&nbsp;ВЫ&nbsp;&mdash; СЧАСТЛИВЫЙ ОБЛАДЕТЕЛЬ СТИЛЬНОЙ СТРИЖКИ-МИНУТКИ!
	
	li.pluses__item
		span.pluses__name Круто
		p.pluses__text ЗАБУДЬТЕ, КАК ВЫ&nbsp;СТРИГЛИСЬ РАНЬШЕ. МЫ&nbsp;СДЕЛАЕМ ИЗ&nbsp;ВАС ЗВЕЗДУ ФУТБОЛА ИЛИ КИНО! ВО&nbsp;ВСЯКОМ СЛУЧАЕ ВНЕШНЕ.
	
	li.pluses__item
		span.pluses__name Дорого
		p.pluses__text НАШИ МАСТЕРА&nbsp;&mdash; ПРОФЕССИОНАЛЫ СВОЕГО ДЕЛА И&nbsp;НЕ&nbsp;МОГУТ СТОИТЬ ДЕШЕВО. К&nbsp;ТОМУ ЖЕ, РАЗВЕ ЦЕНА НЕ&nbsp;ДАЕТ ОПРЕДЕЛЕНЫЙ СТАТУС?

