section.appointment
	h2.appointment__title Записаться
	p.appointment__text УКАЖИТЕ ЖЕЛАЕМУЮ ДАТУ И&nbsp;ВРЕМЯ И&nbsp;МЫ&nbsp;СВЯЖЕМСЯ С&nbsp;ВАМИ ДЛЯ ПОДТВЕРЖДЕНИЯ БРОНИ
	.appointment__form
		include ../../blocks/appointment-form/appointment-form