.appointment-form
	
	&__input
		float left
		background #f9f6f3
		border 2px solid #000
		outline none
		width 140px
		margin-right 20px
		margin-bottom 20px
		padding 7px 15px

		color #000
		font-family 'PT Sans Narrow', sans-serif
		font-size 1.4rem
		line-height 2.4rem
		text-transform uppercase
		
		&:nth-child(2n)
			margin-right 0
		
		&:focus
			border 2px solid #663d15
			
	&__btn
		width 100%
		clear both