.link
	color #fff
	text-decoration underline
	
	&:hover
			text-decoration none
		
	&:active
			text-decoration underline
	
	&_not-underline
		text-decoration none
		
		&:hover
			text-decoration underline
		
		&:active
			text-decoration none
	&_black
		color #000
		
