extends ../templates/home-page/template.pug

block head
	- var path = '';
	- var pageTitle = 'Главная страница';
	- var pageDescription = 'Описание главной страницы';

block content
	main.content
			
		include ../../blocks/main-logo/main-logo
		include ../../blocks/pluses/pluses

		.content__rectangle
			include ../../blocks/news/news
			include ../../blocks/gallery/gallery

		.content__rectangle
			include ../../blocks/contacts/contacts
			include ../../blocks/appointment/appointment