extends ../templates/default/template.pug

block head
	- var path = '';
	- var pageTitle = 'Главная страница';
	- var pageDescription = 'Описание главной страницы';

block content
	main.page-main
			
		include ../../blocks/main-logo/main-logo
		include ../../blocks/pluses/pluses

		.page-main__rectangle
			include ../../blocks/news/news
			include ../../blocks/gallery/gallery

		.page-main__rectangle
			include ../../blocks/contacts/contacts
			include ../../blocks/appointment/appointment
			