.social-icons-list
	text-align center
	
	&__item
		display inline-block
		vertical-align top
		size(43px,43px)
		margin 0 3px
		
.icon-vk
	background #000 url('../assets/img/sprites/social-pics.png') no-repeat 0px -465px
	
	&:hover 
			background #fff url('../assets/img/sprites/social-pics.png') no-repeat 0px -372px
	
	&:active
		background #000 url('../assets/img/sprites/social-pics.png') no-repeat 0px -465px

.icon-fb
	background #000 url('../assets/img/sprites/social-pics.png') no-repeat 0px 0px
	
	&:hover 
			background #fff url('../assets/img/sprites/social-pics.png') no-repeat 0px -93px
	
	&:active
		background #000 url('../assets/img/sprites/social-pics.png') no-repeat 0px 0px
	
.icon-ig
	background #000 url('../assets/img/sprites/social-pics.png') no-repeat 0px -186px
	
	&:hover 
			background #fff url('../assets/img/sprites/social-pics.png') no-repeat 0px -279px
	
	&:active
		background #000 url('../assets/img/sprites/social-pics.png') no-repeat 0px -186px