.social-icons-list
	text-align center
	
	&__item
		display inline-block
		vertical-align top
		size(43px,43px)
		margin 0 3px
		
.icon-vk
	background #000
	sprite $vk-white
	
	&:hover 
		background #fff
		sprite $vk-black
		
	&:active
		background #000
		sprite $vk-white


.icon-fb
	background #000
	sprite $fb-white
	
	&:hover 
		background #fff
		sprite $fb-black
		
	&:active
		background #000
		sprite $fb-white
		

.icon-ig
	background #000
	sprite $ig-white
	
	&:hover 
		background #fff
		sprite $ig-black
		
	&:active
		background #000
		sprite $ig-white