.social-icons-list
	a.social-icons-list__item.icon-vk(href="javascript:void(0);")
	a.social-icons-list__item.icon-fb(href="javascript:void(0);")
	a.social-icons-list__item.icon-ig(href="javascript:void(0);")