.social-icons-list
	a.social-icons-list__item(href="javascript:void(0);")
		+icon('vk')
	a.social-icons-list__item(href="javascript:void(0);")
		+icon('fb')
	a.social-icons-list__item(href="javascript:void(0);")
		+icon('ig')