ul.news-preview
	li.news-preview__item
		p.news-preview__text НАМ НАКОНЕЦ ЗАВЕЗЛИ ЯГЕРМАЙСТЕР! ТЕПЕРЬ ВЫ&nbsp;МОЖЕТЕ ПРОПУСТИТЬ СТАКАНЧИК ВО&nbsp;ВРЕМЯ СТРИЖКИ
		time.news-preview__date(datetime='2017-09-25') 25&nbsp;сентября
	
	li.news-preview__item
		p.news-preview__text В&nbsp;НАШЕЙ КОМАНДЕ ПОПОЛНЕНИЕ, БОРИС &laquo;БРИТВА&raquo; СТРИГУНЕЦ, ОБЛАДЕТЕЛЬ МНОЖЕСТВА ТИТУЛОВ И&nbsp;НАГРАД ПОПОЛНИЛ НАШИ СТРОЙНЫЕ РЯДЫ
		time.news-preview__date(datetime='2017-09-19') 19&nbsp;сентября