footer.footer-page
	.footer-page__wrap
	
	section.footer-page__contacts.contacts-block
		include ../../blocks/company-name/company-name
		include ../../blocks/address/address
		a.contacts-block__link(href="javascript:void(0);") КАК НАС НАЙТИ?
		include ../../blocks/phone/phone
	
	section.footer-page__social.social-block
		span.social-block__title
		.social-block__icons
			include ../../blocks/social-icons-list/social-icons-list
	section.footer-page__copiright.copiright-block
		span.copiright-block__title
		.copiright-block__link
			a.button(href="javascript:void(0);") HTMLACADEMY