section.contacts
	h2.contacts__title Контактная информация
	.contacts__text
		include ../../blocks/company-name/company-name
		include ../../blocks/address/address
		include ../../blocks/phone/phone
	.contacts__text
		include ../../blocks/opening-hours/opening-hours
	.contacts__btn
		a.button(href="javascript:void(0);") Как проехать
	.contacts__btn
		a.button(href="javascript:void(0);") Обратная связь