container()
	max-width 960px
	padding 0 10px
	margin 0 auto

html
	font-size 10px
	
body
	color #FFF
	background #000

a 
	color #FFF

ul
	list-style-type none

.content
	container()
	
	&__rectangle
		clearfix()
		// background #fbf8f5
		padding 50px 80px
		margin-bottom 35px
		
		border 1px solid #FFF
		