.user-block
	&__sign-in
		position relative
		display inline-block
		vertical-align top
		padding 25px 20px
		padding-left 50px
		line-height 2rem
		color #FFF
		
		&::before
			content ''
			position absolute
			top 26px
			left 20px
			width 18px
			height 18px
			background url(../assets/img/general/user-block.png) no-repeat
			opacity 0.3

		&:hover
			background #242424
			
			&::before
				opacity 1
			
		