//- include ../../../blocks/svg-icons/svg-icons.pug
include ../../../blocks/scripts/scripts.pug

doctype html
html(lang='ru')
	include head
	body
		include ../../../blocks/header-for-inner-page/header-for-inner-page.pug
		block content
		include ../../../blocks/footer/footer.pug
		+yandex-metrika
		script(src= path + 'scripts/main.min.js')
		
