.header
	margin-bottom 60px
	background #000
	color #FFF

	&__wrapper
		container()
		clearfix()
	
	&__main-menu
		float left
		width 780px
	
	&__user-block
		float right
		max-width 140px
		
.header a
	color #fff
	