.header
	margin-bottom 60px

	&__wrapper
		container()
		clearfix()
	
		border 1px solid #FFF
	
	&__main-menu
		float left
		max-width 780px
		
		
		border 1px solid #FFF
	
	&__user-block
		float right
		max-width 140px
		
		border 1px solid #FFF