table.prices-table
	tr
		td.prices-table__cell СТРИЖКА
		td.prices-table__cell 1500 Р.
	tr
		td.prices-table__cell СТРИЖКА БОРОДЫ
		td.prices-table__cell 500 Р.
	tr
		td.prices-table__cell НАКРУТКА УСОВ
		td.prices-table__cell 350 Р.