footer.footer
	.footer__wrapper
		section.footer__contacts
			include ../../blocks/company-name/company-name
			<br>
			include ../../blocks/address/address
			<br>
			a.footer__map-link.link(href="#") КАК НАС НАЙТИ?
			<br>
			include ../../blocks/phone/phone
		
		section.footer__social
			include ../../blocks/social-icons/social-icons
		
		section.footer__copiright
			include ../../blocks/copiright/copiright