footer.footer
	section.footer__contacts
		include ../../blocks/company-name/company-name
		include ../../blocks/address/address
		a.footer__link(href="javascript:void(0);") КАК НАС НАЙТИ?
		include ../../blocks/phone/phone
	
	section.footer__social
		include ../../blocks/social-icons/social-icons
	
	section.footer__copiright
		include ../../blocks/copiright/copiright