.input
	width 100%
	outline none
	padding 7px 15px
	background #f9f6f3
	border 2px solid #000
	color #000
	font-family 'PT Sans Narrow', sans-serif
	font-size 1.4rem
	line-height 2.4rem
	text-transform uppercase
	
	&:focus
			border 2px solid #663d15