.slider
	figure.slider__content
		img.slider__pic(
			src="assets/img/content/slide-1.jpg", 
			alt="", 
			width='285', 
			height='162'
		)

	button.slider__prev-btn.button(type='button') Назад
	button.slider__next-btn.button(type='button') Вперед