.slider
	figure.slider__content
		img.slider__pic(src="assets/img/content/slide-1", alt="", width='286', height='164')

	button.slider__prev.button(type='button') Назад
	button.slider__prev.button(type='button') Вперед