.slider
	height 262px
	position relative
	
	&__content
		height 162px
		background #ccc
		border 7px solid #fff
		
	&__pic
		width 285px
		height 162px
	
	&__prev-btn
		position absolute
		left 0
		bottom 0
		width 140px
		margin 0

	&__next-btn
		position absolute
		right 0
		bottom 0
		width 140px
		margin 0